<%= turbo_frame_tag dom_id(message), class: 'pb-1 px-3',
    data: { controller: 'message', action: 'mouseout->message#toggleActions mouseover->message#toggleActions' } do %>
  

  <div class='formatted-content'>
    <%=  message.content  %>
  </div>
<% end %>